/* GENERAL STYLE */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

footer {
    width: auto;
    margin: 25px auto;
}

.container {
    width: 70%;
    margin: 25px auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* UTILITIES */

.marginbottom {
    margin-bottom: 30px;
}

.debug-box {
    height: 100px;
    background-color: pink;
    width: auto;
    border: 1px solid black;
}

.maincont {
    height: 600px;
    background-color: yellow;
    width: auto;
}

.px30 {

}

.left-sidebar,
.right-sidebar,
.mid-bar {
    float: left;
}

.left-sidebar,
.right-sidebar {
    width: 20%;
}

.left-sidebar {

}

.mid-bar {
}

.right-sidebar {

}

/* OTHER */
.floatcontainer {

}


.bluebackground {
    background-color: dodgerblue;
    height: 768px;
}

.mid-padding {
    margin: 0 1%;
    width: 58%;
}